.card {
	padding: 1rem 1rem;
	background-color: white;
	border-radius: 5px;
	.inner {
		width: 100%;
	}
}

.live {
	font-size: 0.8rem;
	background-color: aqua;
	color: black;
	width: fit-content;
	padding: 4px 8px;
	text-transform: uppercase;
}

.expires {
	font-weight: 400;
	padding: 1rem;
	font-size: 0.8rem;
}

.faceoff {
	padding: 1.5rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	.centered {
		display: grid;
		place-items: center;
		padding: 0 0.25rem;
		height: fit-content;
		.vs {
			font-size: 0.8rem;
			color: #b4b4b4;
		}
	}
	.img {
		padding: 0 0.25rem;
		height: 4rem;
		width: 4rem;
		img {
			width: 100%;
		}
	}
}

.splitter {
	padding: 1.5rem 1rem;
}

.BetsDisplayed {
	.card {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	.outer {
		padding: 1rem 0;
		display: flex;
		.common {
			margin: 0 0.5rem;
			font-size: 0.75rem;
			padding: 0.5rem 0.75rem;
		}
		.plain {
			background: linear-gradient(100.46deg, #ffdeee 11.04%, #dfcdff 57.79%);
			color: #33008d;
			cursor: pointer;
		}
	}
	.row {
		border-bottom: 2px solid #f1f1f1;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 0.8rem;
		.expires {
			padding-left: 0;
			padding-right: 0;
		}
		.faceoff {
			.img {
				display: flex;
				width: 2rem;
				height: 2rem;
			}
			.user {
				font-size: 0.8rem;
			}
		}
	}
}

.RequestedBets {
	.row {
		padding: 0.75rem 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.img {
			display: flex;
			align-items: center;
			.name,
			.expires {
				padding: 0 0.5rem;
				padding-top: 0.25rem;
			}
		}
		.num {
			color: #e20070;
			font-weight: 400;
			font-size: 1.4rem;
		}
		border-bottom: 2px solid #f1f1f1;
	}
}
